.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: grey;
}

input {
  width: 60%;
  border: 1px solid grey ;
}

.infobox {
  font-size: 12px;
}

.grid-container {
  display: inline-grid;
  width: 90vw;
  grid-template-columns: 20% 10% auto;
  margin: 5px 0 5px 0;
}

.grid-container2 {
  display: inline-grid;
  width: 90vw;
  grid-template-columns: auto auto auto auto;
  margin: 5px 0 5px 0;
}

.searchbar {
  margin: 2% 0 2% 0;
}

.list,
.searchResult {
  margin: 10px 5% 5px 5%;
}

.window {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
  border: 1px solid black;
}

.paginationBox {
  margin: 10px;
  display: inline-grid;
  grid-template-columns: 40% auto;
  width: 90vw;
  text-align: right;
  font-size: 14px;
}

#selectNumber {
  width: 45px;
}

.pageInput,
.totalPage,
.totalPageNumber,
.pageText,
.nextPage,
.previousPage {
  width: 100%;
  text-align: center;
}

.pageInfo {
  display: inline-grid;
  grid-template-columns: 50px auto 35px 25px 25px auto;
}
