.App,
input,
div,
p,
button,
select {
  text-align: center;
  color: #5f092b;
}

body {
  background: url('https://images.pexels.com/photos/1020317/pexels-photo-1020317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350');
  background-size: auto;
  font-family: Helvetica,Arial,sans-serif;
}

.App-header {
  height: 5%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #5f092b;
}

input {
  width: 60%;
  border: 2px solid #5f092b;
  background-color: transparent;
  text-decoration-color: #5f092b;
}

button,
option,
select {
  background-color: transparent;
  border: 2px solid #5f092b;
  margin: 2px;
  padding: 1px;
}

button:hover,
select:hover {
  background-color: grey;
}

.infobox {
  font-size: 12px;
}

.grid-container {
  display: inline-grid;
  width: 90vw;
  grid-template-columns: 20% 10% auto;
  margin: 5px 0 5px 0;
}

.grid-container2 {
  display: inline-grid;
  width: 90vw;
  grid-template-columns: auto auto auto auto;
  margin: 5px 0 5px 0;
}

.searchbar {
  margin: 2% 0 2% 0;
}

.list,
.searchResult {
  margin: 10px 5% 5px 5%;
}

.window {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 90%;
  height: 90%;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
  border: 1px solid black;
  padding: 2%;
  text-align: center;
}

iframe {
  width: 96%;
  height: 96%;
  text-align: center;
}

.paginationBox {
  margin: 10px;
  display: inline-grid;
  grid-template-columns: 40% auto;
  width: 90vw;
  text-align: right;
  font-size: 14px;
}

#selectNumber {
  width: 45px;
  background-color: transparent;
  border: 2px solid #5f092b;
}

.pageInput,
.totalPage,
.totalPageNumber,
.pageText,
.nextPage,
.previousPage {
  width: 100%;
  text-align: center;
}

.pageInfo {
  display: inline-grid;
  grid-template-columns: auto 50px 35px 25px 25px auto;
}
