.App,
input,
div,
p,
button,
select {
  text-align: center;
  color: #5f092b;
  font-size: 12px;
}

body {
  background: url('https://images.pexels.com/photos/1020317/pexels-photo-1020317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350');
  background-size: auto;
  font-family: Helvetica,Arial,sans-serif;
}

html, body {
 max-width: 100vw;
 overflow-x: hidden;
}

#root {
  width: 100%;
}

.App-header {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #5f092b;
}

input.search {
  width: 50%;
  border: 2px solid #5f092b;
  background-color: transparent;
  text-decoration-color: #5f092b;
  margin: 2px;
  height: 25px;
}

input {
  border: 2px solid #5f092b;
  background-color: transparent;
  text-decoration-color: #5f092b;
  margin: 2px;
}

.addToList {
  height: 25px;
}

button.addToList {
  margin-left: 5px;
}

::placeholder {
  color: #5f092b;
}

.panel {
  background-color: transparent;
}

button,
option,
select {
  background-color: transparent;
  border: 2px solid #5f092b;
  margin: 2px;
  padding: 1px;
  font-size: 14px;
}

span,
form {
  font-size: 14px;
}



div.infobox {
  font-size: 12px;
  text-align: left;
  margin: 2px;
}

.info {
  display: inline-grid;
  grid-template-rows: 25% 25% 25% 25%;
}

button.glyphicon-remove {
  position: sticky;
  top: 0;
  right: 0;
}

.grid-container {
  display: inline-grid;
  width: 90vw;
  grid-template-columns:  45% 15% auto;
  margin: 5px 0 5px 0;
}

img {
  width: 100%;
}

.info,
img,
.panel {
  margin: 5px;
  padding: 5px;
}

div.title.infobox {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.grid-container2 {
  display: inline-grid;
  width: 90vw;
  grid-template-columns: auto auto auto auto;
  margin: 5px 0 5px 0;
  padding: 5px;
}

.videocontainer {
  border: 2px solid #5f092b;
  text-align: left;
  padding: 5px;
}

.searchbar {
  margin: 2% auto 2% auto;
}

.list,
.searchResult {
  margin: 10px auto 5px auto;
}

.window {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 90%;
  height: 90%;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
  border: 1px solid black;
  padding: 2%;
  text-align: center;
}

iframe {
  width: 96%;
  height: 96%;
  text-align: center;
}

.paginationBox {
  margin: 10px;
  width: 90vw;
  text-align: right;
  font-size: 14px;
}

#selectNumber {
  width: 45px;
  background-color: transparent;
  border: 2px solid #5f092b;
}

.pageInput,
.totalPage,
.totalPageNumber,
.nextPage,
.previousPage {
  width: 100%;
  text-align: center;
}

div.pageInfo {
  display: inline-grid;
  grid-template-columns: 35px auto 25px 25px 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 165px;
}

.glyphicon {
  font-size: 18px;
}

.elementsPerPagePicker{
  margin-top: 5px;
}

.buttonPreviousPage,
.pageText {
  height: 25px;
}

button.addToList,
button.buttonPreviousPage,
button.buttonNextPage,
button.buttonDelete,
button.buttonPlay,
button.buttonAddFav,
button.buttonRemoveFromFav {
  border: 0;
}

h1,
h3 {
  font-weight: bolder;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.totalPage,
.totalPagesNumber {
  font-size: 20px;
}

@media screen and (max-width: 340px) {

  .infobox {
    font-size: 8px;
    margin: 1px;
  }

  .App-header {
    height: 5%;
    margin: 5px;
    text-align: center;
  }

  h1,
  h3 {
    font-size: 16px;
  }

  .glyphicon {
    font-size: 14px;
  }

  .grid-container {
    grid-template-columns: 40% 10% auto;
    padding: 3px;
  }

  .grid-item,
  img {
    margin: 2px;
    padding: 2px;
  }

  .grid-container,
  .videocontainer,
  .grid-item {
    height: 100px;
  }

  .info {
    display: inline-grid;
    grid-template-rows: 20px 20px 20px 20px;
  }

  .paginationBox {
    margin: 10px;
    width: 90vw;
  }

  div.pageInfo,
  .elementsPerPagePicker {
    width: 165px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }

  div.pageInfo {
    position: absolute;
    left: calc((100vw - 165px)/2);
  }

  .totalPage,
  .totalPagesNumber {
    font-size: 18px;
  }

  .list {
    margin-top: 40px;
  }

  button.buttonShowDemo,
  button.buttonDeleteList,
  button.buttonShowFav,
  button.buttonReturnToList,
  span,
  select {
    font-size: 12px;
  }
}

@media screen and (min-width: 341px) and (max-width: 450px) {

  .App-header {
    height: 10%;
    margin: 5px;
    text-align: center;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
    padding-top: 10px;
  }

  .elementsPerPagePicker{
    width: 100%;
  }

  .infobox {
    font-size: 10px;
  }

  .grid-container,
  .grid-item {
    height: 130px;
  }

  .glyphicon-heart {
    font-size: 12px;
  }

  img {
    max-height: 110px;
  }

  .info {
    display: inline-grid;
    grid-template-rows: 22px 25px 25px 25px;
  }

  .totalPage,
  .totalPagesNumber {
    font-size: 18px;
  }

  div.pageInfo {
    position: absolute;
    left: calc((100vw - 165px)/2);
  }

  .list {
    margin-top: 40px;
  }

  button.buttonShowDemo,
  button.buttonDeleteList,
  button.buttonShowFav,
  button.buttonReturnToList {
    height: 40px;
    font-size: 12px;
  }

  span,
  select {
    font-size: 12px;
  }
}

@media screen and (min-width: 451px) and (max-width: 650px) {

  .listContainer {
    display: inline-grid;
    grid-template-columns: 45vw 45vw;
  }

  .grid-container {
    display: grid;
    width: 95%;
    grid-template-columns:  80% 20%;
    margin: 5px 0 5px 0;
  }

  div.info {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
  }

  div.infobox,
  div.title.infobox {
    text-align: center;
  }

  .glyphicon-heart {
    font-size: 12px;
  }

  button.buttonShowDemo,
  button.buttonDeleteList,
  button.buttonShowFav,
  button.buttonReturnToList {
    font-size: 12px;
  }

  .paginationBox {
    display: inline-grid;
    grid-template-columns: 200px 165px;
    margin-left: calc(95vw - 365px);
  }
}

@media screen and (min-width: 651px) and (max-width: 780px) {

  .listContainer {
    display: inline-grid;
    grid-template-columns: 32vw 32vw 32vw;
  }

  .grid-container {
    display: grid;
    width: 95%;
    grid-template-columns:  80% 20%;
    margin: 5px 0 5px 0;
  }

  div.info {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
  }

  div.infobox,
  div.title.infobox {
    text-align: center;
    font-size: 14px;
  }

  .paginationBox {
    display: inline-grid;
    grid-template-columns: 200px 165px;
    margin-left: calc(95vw - 365px);
  }
}

@media screen and (min-width: 781px) and (max-width: 950px) {

  .listContainer {
    display: inline-grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
  }

  .grid-container {
    display: grid;
    width: 95%;
    grid-template-columns:  80% 20%;
    margin: 5px 0 5px 0;
  }

  div.info {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
  }

  div.infobox,
  div.title.infobox {
    text-align: center;
    font-size: 14px;
  }

  .paginationBox {
    display: inline-grid;
    grid-template-columns: 200px 165px;
    margin-left: calc(95vw - 365px);
  }
}

@media screen and (min-width: 951px) {

  .listContainer {
    display: inline-grid;
    grid-template-columns: 19vw 19vw 19vw 19vw 19vw;
  }

  .grid-container {
    display: grid;
    width: 95%;
    grid-template-columns:  80% 20%;
    margin: 5px 0 5px 0;
  }

  div.info {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
  }

  div.infobox,
  div.title.infobox {
    text-align: center;
    font-size: 14px;
  }

  .paginationBox {
    display: inline-grid;
    grid-template-columns: 200px 165px;
    margin-left: calc(95vw - 365px);
  }
}
